.hero-details {
  height: 100%;
  width: 300px;
  display: flex;

  .form {
    margin: auto;
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  .field {
    margin-bottom: 10px;
  }
}
