<div class="hero-details" *ngIf="hero">
  <div class="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="form" [@flyInOut]="hero">
    <h2>"{{ hero.name }}" Details</h2>
    <div class="field">
      <mat-form-field>
        <input matInput disabled value="{{hero.id}}" placeholder="ID"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="hero.name" placeholder="Name"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Universe" [(ngModel)]="hero.universe" name="universe">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let universe of Universe | keys" [value]="universe.key">{{universe.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="save()" disabled="{{loading}}" color="primary">Save</button>
    <button mat-raised-button (click)="goBack()" disabled="{{loading}}">Close</button>
  </div>
</div>
