mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  width: 100%;

  button {
    width: 64px;
    height: 64px;
    padding: 0;
    min-width: 0;
    line-height: normal;

    &:hover {
      background-color: inherit;
    }
  }
}

mat-sidenav {
  width: 250px;
  background-color: #e91e63;
  color: white;

  .navigation {
    display: flex;
    flex-direction: column;

    a {
      font-size: 16px;
      padding: 12px 0;
    }
  }
}

.container {
  padding: 20px;
}

app-heroes {
  width: 100%;
}
