<form id="user-registration-form" ([ngModel])="hero">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="hero.name" name="name" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Universe" [(ngModel)]="hero.universe" name="universe" [(value)]="hero.universe">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let universe of Universe | keys" [value]="universe.key">{{universe.value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="saveHero()">Save</button>
</form>
